<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metas y cosas que quiero comprar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning" class="ion-padding">
<h2>Metas profesionales</h2>
  <p>Un estudiante de la Universidad Tecnologica de Ciudad Juarez que quiere terminar la carrera para ser un ingeniero en programacion multi plataforma</p>
  <h3>Metas personales</h3>
  <p>* Aprender a tocar la guitarra</p>
  <p>* Aprender A Cantar</p>
  <p>* Quiero Se bueno dibujando tanto en tradicional como digital</p>
  <h2>Cosas que quiero comprar</h2>
  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Un microfono</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Una tableta grafica con pantalla</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Una Cama</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Una moto o Carro pequño</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Hama Beads</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
