<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre Mi 
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content color="warning" class="ion-padding">
  <h1>Jose Eliu Piza&ntilde;a Serrano</h1>
<h2>Actualmete</h2>
  <p>Un estudiante de la Universidad Tecnologica de Ciudad Juarez que quiere terminar la carrera para ser un ingeniero en programacion multi plataforma</p>
  <h3>Metas personales</h3>
  <h2>Interese</h2>
  
  <ion-list lines="none">
    <ion-item>
      <ion-label>Videojuego</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ilustracion</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Anime</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Animacion</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ciencia Ficcion</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
<br>